@import './reset-tictactoe.css';

/* Кнопка назад на страницу */
.back {
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 1000;
}

.back__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	background-color: rgba(244, 10, 10, 0.489);
	box-shadow: 2px 2px 10px rgba(212, 84, 84, 0.7);

	border-radius: 50px;
	transition: box-shadow 0.2s ease-in;
	transition: background 0.3s ease-in;
}
.back__btn:hover {
	box-shadow: 2px 4px 18px rgba(212, 84, 84, 0.7);
	background-color: rgba(244, 10, 10, 0.8);
}
.back__btn:hover.back__btn p {
	color: rgb(255, 255, 255);
}

.back__btn p {
	color: #000;
	font-size: 30px;
	font-weight: 700;

	transition: color 0.3s ease-out;
}

/* Шрифты */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

body {
	font-family: 'Oswald', sans-serif;
}

/* Контейнер */
.container {
	max-width: 600px;
	padding: 0 20px;
	margin: 0 auto;
}

/* Таблица счета  */

.scoreboard {
	margin: 20px 0 40px;
}

.scoreboard__row {
	text-align: center;

	padding: 10px 5px 10px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.scoreboard__title {
	font-size: 28px;
	font-weight: 700;

	margin-bottom: 10px;
}

.points {
	display: flex;
	justify-content: center;
	gap: 30px;
}

.point__box {
	padding: 20px 80px;
	font-size: 32px;
	font-weight: 500;
	color: #fff;
}
.point__box-blue {
	background-color: rgb(61, 61, 247);
}
.point__box-red {
	background-color: rgb(254, 71, 71);
}

/* Игровое поле  */
.gameField {
	margin-bottom: 50px;
}

.gameField__row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	column-gap: 15px;
	row-gap: 15px;
	align-items: center;
	justify-items: center;

	padding: 10px;

	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.cell {
	width: 170px;
	height: 170px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	cursor: pointer;

	transition: background-color 0.2s linear;
	transition: box-shadow 0.2s linear;
}
.cell:hover {
	background-color: #ececec;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
